a {
  text-decoration: none;
  color: inherit;
}

.login-btn {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  height: auto;
  width: 100%;
  max-width: 150px;
}

.login-btn:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.3s;
}

.announcement-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.announcement-btn:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.3s;
}

.get-started-btn {
  margin: 10px;
  padding: 10px 20px;
  border: 0px;
  border-radius: 10px;
  background-color: #4338ca;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
}

.get-started-btn:hover {
  background-color: #6057c5;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.3s;
}


.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;

}

.left-arrow:hover, .right-arrow:hover {
  background-color: rgba(80, 80, 80, 0.7);
  transition: background-color 0.3s ease;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}