.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

.detail-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
}

.detail-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.comic-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}

.title-container {
    display: flex;
}

.comic-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.comic-description {
    font-size: 1rem;
    text-align: center;
    margin: 0 20px;
}

.comic-id {
    font-size: 1rem;
    font-weight: 600;
}

.detail-section-title {
    color: #222;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}