nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.nav-logo {
  height: 60px;
  margin: 10px;
}